body{
    width: 1500PX;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(10, 1fr) ;
    gap:5px;
    background-color: darkolivegreen;
}

div{
    border: 1px black solid;
    align-content: center;
    justify-content: center;
    background-color: rgb(26, 26, 26);
    color: white;
    border: black 4px solid;
    border-radius: 10px;
    padding-left:10px;
}

/* ids are named after their respective keycode*/
#Backquote{grid-area: 1/1/3/1;}
#Digit1{grid-area: 1/2/3/2;}
#Digit2{grid-area: 1/3/3/3;}
#Digit3{grid-area: 1/4/3/4;}
#Digit4{grid-area: 1/5/3/5;}
#Digit5{grid-area: 1/6/3/6;}
#Digit6{grid-area: 1/7/3/7;}
#Digit7{grid-area: 1/8/3/8;}
#Digit8{grid-area: 1/9/3/9;}
#Digit9{grid-area: 1/10/3/10;}
#Digit0{grid-area: 1/11/3/11;}
#Minus{grid-area: 1/12/3/12;}
#Equal{grid-area: 1/13/3/13;} 
#Backspace{grid-area: 1/14/3/16;}
#Home{grid-area: 1/16/3/16;}

#Tab{grid-area: 3/1/5/3;}
#KeyQ{grid-area: 3/3/5/3;}
#KeyW{grid-area: 3/4/5/4;}
#KeyE{grid-area: 3/5/5/5;}
#KeyR{grid-area: 3/6/5/6;}
#KeyT{grid-area: 3/7/5/7;}
#KeyY{grid-area: 3/8/5/8;}
#KeyU{grid-area: 3/9/5/9;}
#KeyI{grid-area: 3/10/5/10;}
#KeyO{grid-area: 3/11/5/11;}
#KeyP{grid-area: 3/12/5/12;}
#KeyÅ{grid-area: 3/13/5/13;}
#BracketRight{grid-area: 3/14/5/14;}
#Enter{grid-area: 3/15/7/15;}
#PageUp{grid-area: 3/16/5/16;}

#CapsLock{grid-area: 5/1/7/3;}
#KeyA{grid-area: 5/3/7/3;}
#KeyS{grid-area: 5/4/7/4;}
#KeyD{grid-area: 5/5/7/5;}
#KeyF{grid-area: 5/6/7/6;}
#KeyG{grid-area: 5/7/7/7;}
#KeyH{grid-area: 5/8/7/8;}
#KeyJ{grid-area: 5/9/7/9;}
#KeyK{grid-area: 5/10/7/10;}
#KeyL{grid-area: 5/11/7/11;}
#Semicolon{grid-area: 5/12/7/12;}
#Quote{grid-area: 5/13/7/13;}
#Backslash{grid-area: 5/14/7/14;}
#PageDown{grid-area: 5/16/7/16;}

#ShiftLeft{grid-area: 7/1/9/3;}
#IntlBackslash{grid-area: 7/3/9/3;}
#KeyZ{grid-area: 7/4/9/4;}
#KeyX{grid-area: 7/5/9/5;}
#KeyC{grid-area: 7/6/9/6;}
#KeyV{grid-area: 7/7/9/7;}
#KeyB{grid-area: 7/8/9/8;}
#KeyN{grid-area: 7/9/9/9;}
#KeyM{grid-area: 7/10/9/10;}
#comma{grid-area: 7/11/9/11;}
#Period{grid-area: 7/12/9/12;}
#Slash{grid-area: 7/13/9/13;}
#ShiftRight{grid-area: 7/14/9/16;}
#End{grid-area: 7/16/9/16;}

#CortrolLeft{grid-area: 9/1/11/1;}
#fn{grid-area: 9/2/11/2;}/*Doesn't have a keycode*/
#MetaLeft{grid-area: 9/3/11/3;}
#AltLeft{grid-area: 9/4/11/4;}
#Space{grid-area: 9/5/11/10;}
#AltRight{grid-area: 9/10/11/10;}
#ContexMenu{grid-area: 9/11/11/11;}
#ControlRight{grid-area: 9/12/11/12;}
#LeftArrow{grid-area: 9/13/11/13;}
#UpArrow{grid-area: 9/14/10/16;}
#DownArrow{grid-area: 10/14/11/16;}
#RightArrow{grid-area: 9/16/11/16;}